{{#shout}}Hello {{world}}{{/shout}}
You're number {{n}}!
{{#blabber}}
Don't start blabbering
{{/blabber}}
{{#names}}
My name is {{name}},
{{/names}}
{{#tickets}}
I would like to order {{amount}} tickets for {{concert}}.
{{/tickets}}
{{#friends}}
 * {{name}}
{{/friends}}
{{^friends}}
I have no friends :(
{{/friends}}
{{#SuperHero}}
My favorite superhero is {{heroName}}
{{/SuperHero}}
{{> example_partial}}
